@import '../../css/init';


.DoctorsCrudPage {
    &__button {
        &-recording {
            display: flex;
            justify-content: center;
            border-radius: 16px;

            &-text {
                font-size: 12px;
            }

            .button;

            &:hover {
                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 32px;
                    border-radius: 16px;
                    position: absolute;
                    z-index: -1;
                    left: 4px;
                    bottom: -4px;
                    background-color: #15665e;
                }
            }
        }
    }
} 