﻿@import '../../css/init';


.DoctorEdit {
    background-color: rgba(0, 0, 0, 0.5);
    display: block !important;

    & > .modal-dialog {
        pointer-events: auto;

        @media (min-width: 768px) {
            width: 970px;
            max-width: none;
        }
    }

    &__header {
        background-color: @theme-color;
        padding: 20px;
        border-radius: 15px 15px 0 0;

        &-title {
            color: white;
            padding-left: 20px;
        }
    }

    &__modal {
        background-color: white;
        position: relative;
        box-sizing: border-box;
        padding: 20px;

        &-section {
            display: inline-block;
            width: 450px;

            &-label {
                width: 200px;
                padding-left: 20px;
            }

            &-input, &-select {
                outline: none;
                display: inline;
                height: 32px;
                padding: 7px 20px;
                width: 250px;
                -webkit-appearance: none;
                border: 1px solid @theme-color;
                border-radius: 16px;
            }

            &-error {
                text-align: center;
                padding-left: 215px;
                color: #dc3545 !important;
                height: 16px;
            }

            &-button {
                background-color: @theme-color;
                display: inline;
                justify-content: center;
                border-radius: 16px;
                width: 125px;
                margin-right: 10px;

                &-text {
                    font-size: 12px;
                }

                .button;

                &:hover {
                    &:after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 32px;
                        border-radius: 16px;
                        position: absolute;
                        z-index: -1;
                        left: 4px;
                        bottom: -4px;
                        background-color: #15665e;
                    }
                }
            }
        }
    }
}
