#react-app > div {
    height: 100%;
}

.Layout {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__content {
        flex: 1 0 auto;
    }

    &__footer {
        flex: 0 0 auto;
    }
}
