@import '../../../css/init';

.CalendarToolBar {
    &__checkbox {
        .checkbox-default;
    }

    &__navigation {
        display: flex;
        margin-bottom: 10px;

        &-button {
            color: white;
            .themeGradientBackground;
            .button;
            padding: 3px 15px;
            font-size: 14px;
            border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
            text-shadow: 0 1px 1px rgba(255,255,255,.75);
            box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);


            &_next, &_day {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &_prev, &_month {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &_week {
                border-radius: 0;
            }

            &_prev, &_next {
                font-size: 21px;
                line-height: 14px;

                & > i {
                    font-weight: bold;
                }
            }

            &_today {
                margin-left: .75em;
            }

            &:active, &_active {
                box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.35), 0 1px 2px rgba(0, 0, 0, 0.15) !important;
            }

            &_agenda {
                margin-right: .75em;
            }
        }

        &-block {
            &-label {
                flex-grow: 1;
                text-align: center;
            }

            &-left {
                min-width: 177px;
            }

            &-right {
                min-width: 330px;
            }
        }
    }

    &__control {
        &-panel {
            height: 55px;
        }

        &-button {
            .themeGradientBackground;
            font-size: 14px;
            color: white;
            .button;

            &_print {
                float: right;
                border-radius: 30px;
                font-size: 12px;
                padding: 10px 20px;
            }
        }
    }
}
