@import '../../css/init';

.CheckBoxHorizontal {
    cursor: pointer;

    &__background {
        background-color: #b8b8b8;
        height: 14px;
        width: 36px;
        border-radius: 7px;
        transition: background-color 0.2s;
        display: inline-block;
        vertical-align: middle;

        &_active {
            background-color: @theme-color;
        }
    }

    &__point {
        height: 20px;
        width: 20px;
        background-color: #fafafa;
        box-shadow: 0 1px 3px rgba(0,0,0,0.5);
        transform: translate3d(0px, -3px, 0);
        transition: transform 0.2s, background-color 0.2s, opacity 0.2s;
        display: block;
        border-radius: 50%;

        &_active {
            background-color: @dark-theme-color;
            transform: translate3d(16px, -3px, 0);
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.7);
        }
    }

    &__input {
        display: none;
    }
}
