@import '../../css/init';


.SearchDoctorsForm {
    &__header {
        color: @theme-color;
        font-size: 32px;
        font-weight: bold;
    }

    &__form-search {
        max-width: 750px;
        flex-wrap: wrap;
        display: flex;

        &-button {
            display: flex;
            justify-content: center;
            border-radius: 16px;
            width: 125px;

            &-text {
                font-size: 12px;
            }

            .button;

            &:hover {
                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 32px;
                    border-radius: 16px;
                    position: absolute;
                    z-index: -1;
                    left: 4px;
                    bottom: -4px;
                    background-color: #15665e;
                }
            }
        }

        &-select {
            .select-default;
        }

        &-select2 {
            max-width: 300px;

            &.is-open .Select-arrow {
                border-color: transparent transparent @theme-color !important;
                border-width: 0 5px 9px !important;
            }

            & .Select {

                &-control {
                    border: 1px solid @theme-color !important;
                    border-radius: 16px;
                }

                &-arrow {
                    border-color: @theme-color transparent transparent !important;
                    border-width: 9px 5px 2.5px !important;

                    &-zone {
                        padding-top: 5px;
                    }
                }

                &-menu-outer {
                    border-color: @theme-color !important;
                }

                &-option.is-focused {
                    background-color: @light-over-theme-color !important;
                }

                &-placeholder {
                    color: black !important;
                }
            }

            &.Select--multi .Select-value-label {
                text-transform: lowercase;
            }
        }

        &-input {
            outline: none;
            display: block;
            height: 32px;
            padding: 7px 20px;
            width: 100%;
            -webkit-appearance: none;
            border: 1px solid @theme-color;
            border-radius: 16px;

            &-container {
                max-width: 300px;
                position: relative;
            }
        }

        &-checkbox {
            margin: 5px 10px;

            &-container {
                padding-top: 30px;
            }
        }

        & > .form-group {
            width: 50%;
            padding-right: 20px;
        }
    }

    &__checkbox-default {
        .checkbox-default;
    }
} 