@theme-color: #27A599;
@dark-theme-color: desaturate(@theme-color, 20%);
@light-over-theme-color: lighten(@theme-color, 50%);
@dark-color: #5C5C5C;

.noSelect {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.button {
    cursor: pointer;
    background-color: @theme-color;
    position: relative;
    color: white;

    &:focus {
        outline: none !important;
        box-shadow: none;
    }

    &:hover {
        background-color: @dark-theme-color;
    }
}

.select-default {
    max-width: 300px;
    position: relative;

    &__input, &-input {
        outline: none;
        display: block;
        height: 32px;
        padding: 5px 20px;
        width: 100%;
        -webkit-appearance: none;
        border: 1px solid @theme-color;
        border-radius: 16px;
    }


    &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        right: 16px;
        top: 13px;
        width: 11px;
        height: 9px;
        background: url(/media/arrow_green.png);
        cursor: pointer;
        pointer-events: none;
    }
}

.checkbox-default {
    width: 22px;
    height: 20px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    display: inline-block;
    margin-right: 7px;
    position: relative;
    text-align: center;

    & > i {
        position: absolute;
        top: 2px;
        left: 3px;
        display: none;
    }

    &_active {
        & > i {
            display: inline-block;
        }
    }

    &-container {
        cursor: pointer;
        line-height: 20px;
        .noSelect;

        &:hover > .CalendarToolBar__checkbox {
            box-shadow: 0 0 1px 1px #dadada;
        }
    }

    &-text {
        position: relative;
        top: -5px;
    }
}


.radial_gradient( @color1: #fff, @color2: #000 ) {
    background: @color1;
    background: -webkit-linear-gradient(top, @color1, @color2) !important;
    background: -o-linear-gradient(top, @color1, @color2) !important;
    background: -moz-linear-gradient(top, @color1, @color2) !important;
    background: linear-gradient(to bottom, @color1, @color2) !important;
}

.themeGradientBackground {
    .radial_gradient(@dark-theme-color, @theme-color);

    &:hover {
        .radial_gradient(desaturate(@dark-theme-color, 10%), desaturate(@theme-color, 10%));
    }
}

.themeTextColor{
    color: @theme-color;
}