
.Wait {
    position: relative;
    min-height: 20px;
    min-width: 20px;
    margin: auto;

    &__img {
        position: absolute;
        left: calc(50% - 20px);
        top: calc(50% - 20px);
        transition: 1s ease-in-out opacity;
        opacity: 0;
    }

    &__wall {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #0000000d;
        border-radius: 4px;
        transition: 1s ease-in opacity;
        opacity: 0;
    }
}
