@import '../../css/init';


.RecordingAdmission {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.5);

    & > .modal-dialog {
        pointer-events: auto;

        @media (min-width: 768px) {
            width: 650px;
            max-width: none;
        }
    }

    &__button-close {
        position: absolute;
        z-index: 1;
        opacity: 1;
        right: -15px;
        top: -15px;

        &:before {
            content: "";
            display: block;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: url(/media/modal_close_green.png);
        }
    }

    &__header {
        background-color: @theme-color;
        padding: 20px;
        border-radius: 15px 15px 0 0;

        & > p {
            margin-bottom: 0.25rem;
            line-height: 16px;
        }
    }

    &__body {
        padding: 20px;

        &-calendar {
            border: 0;
            width: 300px;

            &-header-text {
                font-size: 16px;
                font-weight: bold;
            }

            &-container {
                margin: 0 auto;
                padding-bottom: 15px;
            }

            & .react-calendar__tile {
                padding: .55em .5em;
            }

            & .react-calendar__month-view__weekdays__weekday {
                text-transform: capitalize !important;
            }

            &-day {
                &-active {
                    color: @theme-color;
                }

                &-busy {
                    color: silver;
                }
            }
        }

        &-time-select {
            padding-left: 20px;
            padding-top: 50px;
            width: 300px;

            &-title {
                font-size: 14px;
                padding-bottom: 20px;
                text-align: center;
                color: #333333;
            }

            &-list {
                &-item {
                    font-size: 10px;
                    border-radius: 12px;
                    line-height: 12px;
                    padding: 5px 10px;
                    margin: 0 5px 5px 0;
                    border: 1px solid #b2b2b2;
                    display: inline-block;
                    .noSelect;
                }

                &-busy {
                    border-color: #b2b2b2 !important;
                    color: #b2b2b2;
                    cursor: default;
                }

                &-free {
                    cursor: pointer;
                    border-color: @theme-color !important;
                    color: @theme-color;

                    &:hover, &_active {
                        background-color: @theme-color;
                        color: #FFFFFF;
                    }
                }
            }

            &-empty {
                text-align: center;
                padding: 60px 0;
                font-size: 17px;
            }
        }


        &-form-phone {
            display: flex;

            &-input {
                width: 100%;
                margin-right: 20px;
                outline: 0;
                padding: 5px 15px;
                background-color: #FFFFFF;
                height: 34px;
                line-height: 34px;
                border-radius: 16px;
                border: 1px solid @theme-color;
                font-size: 14px;
            }

            &-button {
                outline: 0;
                padding: 0 20px;
                height: 34px;
                line-height: 34px;
                border: 0;
                border-radius: 16px;
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;
                .button
            }
        }

        &-link {
            color: @theme-color !important;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
