@import '../../css/init';


.CabinetPage {
    &__reminders {
        &-input-box {
            padding-top: 5px;
        }

        &-labels {
            width: 200px;

            &-sub {
                width: 50px;
            }
        }

        &-select-box {
            width: 200px;
        }

        &-panel {
            padding: 20px;
        }
    }
} 