﻿@import '../../css/init';


.BreadcrumbsContainer {
    margin-bottom: 25px;
    color: white;

    & ul > * {
        position: relative;
        color: white !important;
        text-decoration: none !important;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400 !important;
        padding: 0.5rem 1rem;
        .themeGradientBackground;
        display: flex;

        &:nth-last-child(1) {
            border-bottom-right-radius: 5px;
        }

        &:nth-child(n+2):before {
            position: absolute;
            left: 0;
            top: 11px;
            content: "";
            display: block;
            width: 8px;
            height: 9px;
            background: url(/media/arrow.png);
            margin: auto 0;
        }

        &:nth-child(1) {
            border-bottom-left-radius: 5px;
        }

        & a {
            color: white !important;
        }
    }
}
