@import '../../../css/init';

.CalendarEventMonth {
    &__body {
        margin: 1px 2px 0;
        padding: 0 1px;
        position: relative;
        display: block;
        font-size: 12px;
        line-height: 1.3;
        border-radius: 3px;
        white-space: normal;
        padding: 5px;
        overflow: hidden;
        color: rgb(92, 92, 92);
        cursor: default !important;

        &_active, &_requires_confirmation {
            cursor: pointer !important;
        }

        &_active, &_completed, &_requires_confirmation {
            background-color: #b1ebe6;
            border-left: 10px solid @theme-color;
        }

        &_canceled {
            background-color: #ffdbdb;
            border-left: 10px solid #bf0000;
        }

        &_completed, &_requires_confirmation {
            opacity: .55;
        }
    }
}
