@import '../../css/init';

.NotFoundPage {
    text-align: center;
    padding-bottom: 40px;

    &__header {
        font-size: 200px;
        text-shadow: 4px 4px 5px black;
        color: @theme-color;
    }

    &__text {
        font-size: 20px;
    }

    &__link {
        text-decoration: none !important;
        font-weight: bold;
    }
}
