@import '../../../css/init';


.CalendarEventPopover {
    border: 1px solid @theme-color;
    padding: 7px 10px;
    position: absolute;
    background-color: white;
    width: 300px;
    z-index: 1000;

    &__header {
        font-weight: bold;
        padding: 10px;

        &_active, &_completed, &_requires_confirmation {
            background-color: #b1ebe6;
            border-left: 5px solid @theme-color;
        }

        &_canceled {
            background-color: #ffdbdb;
            border-left: 5px solid #bf0000;
        }

        &_completed, &_requires_confirmation {
            opacity: .55;
        }
    }

    &__panel-info {
        padding: 15px 15px 0;

        &-line {
            margin-bottom: 5px;
        }
    }

    &__button {
        outline: none !important;
        color: white;
        margin-right: 10px;
        font-size: 24px;
        box-shadow: none !important;

        &_delete {
            @color: #c33636;
            background-color: @color;
            padding: 2px 12px;
            width: 100px;
            border-radius: 25px;
            height: 42px;
            font-size: 11px;
            line-height: 14px;

            &:hover {
                background-color: darken(@color, 20%);
            }
        }

        &_print {
            border-radius: 50%;
            background-color: @theme-color;
            padding: 2px 8px;

            &:hover {
                background-color: @dark-theme-color;
            }
        }
    }

    &__panel-buttons {
        text-align: right;
    }

    &__arrow {
        top: 50%;
        margin-top: -11px;
        border: 11px solid transparent;
        position: absolute;


        &_right {
            right: -11px;
            border-right-width: 0;
            border-left-color: @dark-theme-color;

            &:after {
                right: 1px;
                border-right-width: 0 !important;
                border-left-color: #fff !important;
            }
        }

        &_left {
            left: -11px;
            border-left-width: 0;
            border-right-color: @dark-theme-color;

            &:after {
                left: 1px;
                border-left-width: 0 !important;
                border-right-color: #fff !important;
            }
        }


        &:after {
            content: " ";
            border: 10px solid transparent;
            bottom: -10px;
            position: absolute;
        }
    }
}
