@import '../../css/init';

.Header {
    background-color: @theme-color;
    height: 185px;
    max-width: 100%;
    overflow: hidden;
    color: white;

    & * {
        font-size: 16px;
    }

    & a {
        display: flex !important;
        text-decoration: none !important;
        color: white !important;
        .noSelect;
    }

    &__block-logo {
        padding: 20px;
        font-size: 16px;
        font-weight: bold;
    }

    &__block-user {
        margin-right: 50px;
    }

    &__block-text {
        margin: auto;
        padding: 0 20px;
        max-width: 200px;
    }

    &__block-calendar-text {
        max-width: 150px !important;
    }

    &__block-exit {
        margin: auto;
        margin-right: 0;

        &-text {
            margin: auto;
            padding: 0 10px;
        }

        & a:hover {
            text-decoration: underline !important;
        }
    }

    &__guest-header {
        font-size: 87px;
        font-weight: bold;
        text-align: center;
        margin-top: 25px;
    }
}