@import '../../../css/init';

.CalendarListEvents {
    width: 100%;
    height: 100%;
    display: table;
    min-height: 534px;
    border: 1px solid #ddd;


    &__empty {
        background-color: #eee;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    &__line {
        height: 32px;

        &:hover {
            background-color: #f5f5f5;
        }

        &-header {
            background: #eee;
            padding: 6px 14px;

            &-date {
                cursor: pointer;

                &_right {
                    float: right;
                    line-height: 16px;
                }
            }
        }


        &_active, &_completed, &_requires_confirmation {
            background-color: #b1ebe6;
            border-left: 5px solid @theme-color;
        }

        &_active, &_requires_confirmation {
            &:hover {
                cursor: pointer;
            }
        }

        &_canceled {
            background-color: #ffdbdb;
            border-left: 5px solid #bf0000;
        }

        &_completed, &_requires_confirmation {
            opacity: .55;
        }

        &-time {
            padding: 5px 14px;
            display: inline-block;
        }

        &-marker {
            white-space: nowrap;
            width: 1px;
            padding: 5px 14px;

            &-circle {
                background-color: #3a87ad;
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 5px;
            }
        }

        &-box {
            border-top: 1px solid #ddd;
        }
    }
}
