@import '../../css/init';


.MainPage {
    padding: 40px 0;

    &__line_top a {
        background-color: @theme-color;
    }

    &__line_middle a {
        background-color: #2782a5;
    }

    &__line_bottom a {
        background-color: #27a56a;
    }

    &__block-element {
        max-width: 130px;
        margin: 0 10px;

        &-link {
            display: flex;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            padding: 0;
            position: relative;

            &:hover {
                &:after {
                    content: "";
                    display: block;
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    position: absolute;
                    z-index: -1;
                    left: 5px;
                    bottom: -5px;
                    background-color: #15665e;
                }
            }
        }

        &-text {
            padding: 20px 0;
            text-align: center;
            display: block;
            text-transform: uppercase;
            color: @dark-color;
            font-size: 14px;
        }

        &-img {
            margin: auto;
        }
    }
} 