@import '../../css/init';

@theme: #E5E5E5;
@theme-dark: desaturate(@theme, 50%);

.Feedback {
    background-color: @theme;
    padding: 15px;

    &__button-send {
        background-color: @theme-color !important;
        border-color: @theme-color !important;
        margin-top: 15px;
        border-radius: 20px;
        width: 200px;

        &:active, &:focus {
            box-shadow: 0 0 0 0.2rem rgba(0, 255, 102, 0.5) !important;
        }

        &:hover {
            background-color: @dark-theme-color !important;
            border-color: @dark-theme-color !important;
        }
    }

    &__input-data {
        border: 0;
        outline: 0;

        &::-webkit-input-placeholder {
            color: @theme-dark;
        }

        &::-moz-placeholder {
            color: @theme-dark;
        }
        /* Firefox 19+ */
        &:-moz-placeholder {
            color: @theme-dark;
        }
        /* Firefox 18- */
        &:-ms-input-placeholder {
            color: @theme-dark;
        }

        &_offset {
            margin-left: 100%/12*3/2
        }

        &:active, &:focus {
            box-shadow: 0 0 0 0.2rem rgba(0, 255, 102, 0.34) !important;
        }
    }

    &__line-data {
        padding: 0 15px;
        margin-bottom: 15px;
    }
}
