@import '../../css/init';

.CalendarPage {
    padding-bottom: 20px;

    & .rbc-event {
        background-color: transparent !important;
    }

    & > .rbc-calendar {
        min-height: 580px;
    }

    & .rbc-date-cell {
        text-align: left !important;
        padding-left: 5px;
    }

    & .rbc-today {
        position: relative;
        background-color: transparent;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 2px solid @theme-color;
        }
    }

    & .rbc-selected-cell {
        background-color: aliceblue !important;
    }
}
