@import '../../css/init';

.Alert {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.5);

    &__header {
        border-top: 3px solid white;
        font-weight: bold;

        &_danger {
            background-color: #f3c8c8;
            border-color: #d9534f !important;
        }

        &_success {
            background-color: @theme-color;
            border-color: @dark-theme-color !important;
            color: white;

            & > .close {
                color: white;
                opacity: .85;
            }
        }

        &_warning {
            background-color: #f8ff89;
            border-color: #f0ad4e !important;
        }
    }

    &__button-submit {
        background-color: @theme-color !important;
        border-color: @dark-theme-color !important;
        color: white;

        &:hover {
            background-color: @dark-theme-color !important;
        }
    }
}
