@import '../../css/init';


.ClinicDoctorsSearchPage {
    &__header {
        color: @theme-color;
        font-size: 32px;
        font-weight: bold;
    }

    &__list-results {
        display: flex;
        flex-wrap: wrap;

        &-item {
            max-width: 350px;
            padding: 20px 40px 20px 0;

            &-name {
                font-size: 16px !important;
                font-weight: bold !important;
                padding-bottom: 10px;
                max-width: 220px;
                cursor: pointer;
                text-decoration: none !important;
                display: inline-block;
            }

            &-role {
                padding-bottom: 10px;
            }

            &-info {
                padding-bottom: 10px;
            }

            &-button-entry {
                display: flex;
                justify-content: center;
                border-radius: 16px;
                width: 150px;

                &-text {
                    font-size: 12px;
                    margin: auto 10px;
                }

                .button;

                &:hover {
                    &:after {
                        content: "";
                        display: block;
                        width: 150px;
                        height: 32px;
                        border-radius: 16px;
                        position: absolute;
                        z-index: -1;
                        left: 4px;
                        bottom: -4px;
                        background-color: #15665e;
                    }
                }
            }
        }

        &-none {
            padding: 30px 0;
            font-size: 18px;
            font-weight: bold;
        }
    }
} 