@import '../../css/init';


.DoctorViewPage {
    position: relative;
    padding-bottom: 20px;
    color: @dark-color;

    &__title {
        font-size: 32px;
        font-weight: bold;
        color: @theme-color;
        max-width: 950px;
    }

    &__button {
        &-recording {
            display: flex;
            justify-content: center;
            border-radius: 16px;

            &-text {
                font-size: 12px;
            }

            .button;

            &:hover {
                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 32px;
                    border-radius: 16px;
                    position: absolute;
                    z-index: -1;
                    left: 4px;
                    bottom: -4px;
                    background-color: #15665e;
                }
            }
        }

        &-search-doctor {
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            width: 150px;
            height: 32px;
            background: url(/media/btn_search_doctor.png);
        }
    }

    &__block-info {
        max-width: 750px;
        font-size: 16px;

        &-title {
            color: @theme-color;
            margin-bottom: 10px;
        }

        &-section {
            margin-bottom: 20px;
            display: flex;

            &-caption {
                font-weight: bold;
                width: 150px;
            }
        }
    }
} 