@import '../../css/init';

.Confirm {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.5);

    &__header {
        border-top: 3px solid white;
        font-weight: bold;
        background-color: @theme-color;
        border-color: @dark-theme-color !important;
        color: white;

        & > .close {
            color: white;
            opacity: .85;
        }
    }

    &__button {
        background-color: @theme-color !important;
        border-color: @dark-theme-color !important;
    }
}
