@import '../../css/init';


.ClinicsCrudPage {
    max-width: 750px;

    &__text-empty-data {
        color: @dark-color;
    }

    &__section {
        margin-bottom: 20px;

        &-title {
            font-size: 14px;
            padding: 10px 20px;
            margin-bottom: 20px;
            color: #FFFFFF;
            background-color: @theme-color;
        }

        &-item {
            width: 150px;

            &-text {
                text-align: center;
                max-width: 102px;
                display: block;
                font-size: 16px;
                margin: 0 auto;
                color: @dark-color;
            }

            &-img {
                display: block;
                margin: 0 auto;
            }
        }
    }
} 