@import '../../css/init';


.WaitModal {
    display: block !important;
    transition: 1s ease-in opacity;
    opacity: 0;

    & .modal-dialog {
        margin: 250px auto;
    }

    & > * {
        border-width: 0 !important;
    }

    &__img-container {
        text-align: center;
    }
}
