@import '../../css/init';

.RegistrationPage {
    max-width: 420px;
    margin: 35px auto;
    text-align: center;

    &__header {
        background-color: @theme-color;
        font-size: 18px;
        font-weight: bold;
        height: 92px;
        border-radius: 15px 15px 0 0;
    }

    &__body {
        margin: 0 15px 15px 15px;
        padding: 0 30px 10px 30px;
        width: 100%;

        &-container {
            background-color: rgb(229, 229, 229);
        }

        &-header {
            font-size: 18px;
            font-weight: bold;
            padding: 20px 0;
        }

        &-login {
            font-weight: bold;
            padding: 10px 0;
            color: @theme-color;

            & a {
                color: @theme-color !important;
            }
        }

        &-input {
            background-color: #FFFFFF;
            border: 1px solid @theme-color;
            text-transform: uppercase;
        }

        &-input, &-button {
            height: 38px;
            line-height: 38px;
            border-radius: 18px;
            font-size: 14px;
            font-weight: bold;
            outline: none !important;
            text-align: center !important;
            width: 100% !important;
            display: block !important;
            box-shadow: none !important;
        }

        &-button {
            background-color: @theme-color;
            padding: 0 !important;

            &:hover {
                background-color: @dark-theme-color;
            }
        }
    }
}
