@import '../../css/init';

.EvaluationService {
    text-align: center;

    &__label-main {
        font-size: 26px;
        color: white;
        line-height: 28px;
        font-weight: bold;
    }

    &__div-number {
        background-color: white;
        border-radius: 50%;
        color: @theme-color;
        width: 70px;
        height: 70px;
        margin: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 60px;
        line-height: 70px;
        .noSelect;

        &_active {
            background-color: yellow;
        }
    }

    &__block-end {
        text-align: center;
        font-size: 30px;
        line-height: 30px;
        padding: 20% 0;
    }
}