@import '../../css/init';


.ClinicViewPage {
    position: relative;
    padding-bottom: 20px;
    color: @dark-color;

    &__title {
        font-size: 32px;
        font-weight: bold;
        color: @theme-color;
        max-width: 950px;
    }

    &__button-search-doctor {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 150px;
        height: 32px;
        background: url(/media/btn_search_doctor.png);
    }

    &__block-info {
        max-width: 750px;
        font-size: 16px;

        &-title {
            color: @theme-color;
            margin-bottom: 10px;
        }

        &-section {
            margin-bottom: 20px;
            display: flex;

            &-caption {
                font-weight: bold;
                width: 150px;
            }
        }
    }

    &__button-show-more {
        display: flex;
        justify-content: center;
        border-radius: 16px;
        width: 150px;
        height: 32px;
        margin: 0 auto;
        background-color: @theme-color;

        &-text {
            font-size: 12px;
            margin: auto 10px;

            &:after {
                content: "";
                display: block;
                width: 8px;
                height: 9px;
                background: url(/media/arrow.png);
                float: right;
                position: relative;
                right: -8px;
                top: 4px;
                transform: rotate(90deg);
            }
        }
    }
} 